<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://waraclecosmodb.documents.azure.com:443/" />
    <add key="PrimaryKey" value="niGucpYe2XaCEEd4E4TMQmLNgfjVAulNo0yZr07TAl9O06eIi6wLuYJ6NL75c3sgS8LL8MYcqpU1YldiX01yXA==" />
  </appSettings>
</configuration>